@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #003F62;  /* Example: Blue */
  --color-secondary: #9333ea; /* Example: Purple */
  --color-accent: #f59e0b;    /* Example: Yellow */
}

html {
  scroll-behavior: smooth;
}